# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
# Sistema operativo
.DS_Store
# Archivos temporales de Office
~$*
# Playwright y Node.js
node_modules/
test-results/
playwright-report/
blob-report/
traces/
# Logs
*.log
